body {
    margin: 0;
    height: 100vh; /* Asegurarse de que el body ocupe toda la altura de la ventana */
    overflow: hidden; /* Evitar el desplazamiento */
    background: linear-gradient(180deg, #1b1b30 0%, #4a4a69 40%, #8f8fc6 100%); /* Degradado de galaxia */
    background-size: 200% 200%; /* Duplicar el tamaño del fondo para la animación */
    animation: gradientAnimation 15s ease infinite; /* Animar el fondo */
}

/* Animación de degradado */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Estilos para el navbar */
.navbar {
    background-color: #f8f9fa; /* Tono claro */
    transition: background-color 0.5s ease-in-out;
}

.navbar:hover {
        background-color: #e9ecef; /* Tono más oscuro en hover */
}
.nav-link {
    color:aliceblue; /* Color oscuro para los enlaces */
    transition: color 0.3s ease-in-out;
}
.navbar-brand {
    color: aliceblue; 
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
        color:chocolate; /* Cambiar color en hover */
}
.carousel-item img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 400px; /* Establece una altura fija */
    object-fit:contain /* Mantiene la relación de aspecto */
}
.carousel-item {
    height: 400px; /* Asegúrate de que el contenedor tenga una altura específica */
}
.carousel{
    margin-top: 150px;
}

.article{
    height: 150px;
    overflow: hidden;
  
    
}
article:hover{
    height: auto;
}


